/* purgecss start ignore */
.trix-content h1, h2 {
    @apply .font-medium .tracking-wide .text-2xl .text-blue-900 .my-4 !important;
}
.trix-content p, .trix-content ol > li {
    @apply .text-xl .text-blue-800 .font-normal .tracking-normal !important;
}
.trix-content p a, .trix-content ol > li a {
    @apply .no-underline .text-blue-500 !important;
}
.trix-content blockquote {
    @apply .p-4 .mx-2 .my-2 .text-xl .text-blue-500 .border-l-4 .border-blue-300 .bg-white .rounded .shadow .inline !important;
    quotes: "\201C""\201D""\2018""\2019";
}
.trix-content blockquote:before {
    @apply .text-blue-300 .text-6xl .mr-1 !important;
    content: open-quote !important;
    line-height: 0.1em !important;
    vertical-align: -0.4em !important;
}

.trix-content ol {
    @apply .m-0 .p-0 !important;
}

.trix-content ol li {
    @apply .mb-4 .block !important;
    counter-increment: step-counter !important;
}

.trix-content ol li::before {
    @apply .bg-blue-500 .mr-2 .text-lg .text-white .font-bold .px-2 .py-1 .rounded !important;
    content: counter(step-counter) !important;
}

.trix-content pre {
    @apply .block bg-orange-200 rounded shadow !important;
    overflow-x: auto !important;
}

.trix-content pre code {
    @apply .block .pt-0 .pb-5 .px-2 .leading-normal .font-mono .text-sm .min-w-full !important;
    white-space: pre !important;
    overflow-x: auto !important;
    background: none !important;
}
/* purgecss end ignore */
