.trix-content h1 {
    @apply .font-medium .tracking-wide .text-2xl .text-blue-900 .my-4 !important;
}
.trix-content p, .trix-content ol > li {
    @apply .text-xl .text-blue-800 .font-normal .tracking-normal;
}
.trix-content p a, .trix-content ol > li a {
    @apply .no-underline .text-blue-500;
}
.trix-content blockquote {
    @apply .px-2 .py-1 .mx-2 .my-2 .text-xl .text-blue-500 .border-l-4 .border-blue-300 .bg-white;
    quotes: "\201C""\201D""\2018""\2019";
}
.trix-content blockquote:before {
    @apply .text-blue-300 .text-6xl .mr-1;
    content: open-quote;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

.trix-content ol {
    @apply .m-0 .p-0;
}

.trix-content ol li {
    @apply .mb-4;
    counter-increment: step-counter;
}

.trix-content ol li::before {
    @apply .bg-blue-500 .mr-2 .text-lg .text-white .font-bold .px-2 .py-1 .rounded;
    content: counter(step-counter);
}

.trix-content pre {
    @apply .block;
    overflow-x: auto;
}

.trix-content pre code {
    @apply .block .pt-0 .pb-5 .px-2 .leading-normal .font-mono .text-sm .bg-gray-300 .min-w-full;
    white-space: pre;
    overflow-x: auto;
}
